@tailwind base;
@tailwind components;
@tailwind utilities;


select option {
  animation: slide-in 0.4s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
