
* {
  box-sizing: border-box;
}

.colaborador-empresa {
  font-size: 0.6rem;
  color: rgb(105, 105, 105);
}

.colaborador-nombre {
  color: #4b4370;
}

.plus_button {
  font-size: 13px;
  padding: 10px;
  color: rgb(172, 172, 172);
}

.containerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-green {
  background-color: #cbf9d8;
  border: 2px solid #abd9c1;
  color: #565b79;
  border-radius: 10px;
  padding: 15px 5px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  width: 96%;
}

.container-green.minum {
  width: 100%;
  font-size: 12px;
  padding: 10px 6px;
  text-align: center;
}

.container-green::after {
  content: "";
  width: 5px;
  height: 60%; /* Se ajusta dinámicamente */
  border-radius: 6px;
  background-color: #4b4370;
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente */
}

.container-green.minum::after {
  width: 5px;
  height: 50%;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
}

.container-green.almuerzo-tomado::after {
  background-color: #ff5e60;
}

.dayNumber {
  font-size: 0.8rem;
}

.dia-actual {
  position: relative;
}

.dia-actual>* {
  position: relative;
  z-index: 2;
}

.dia-actual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(60deg,
      #fff,
      #fff 7px,
      #f1f1f17a,
      #f1f1f187 20px);
  pointer-events: none;
  /* Permite que los eventos de clic pasen a través del pseudo-elemento */
  z-index: 1;
  border-radius: inherit;
  /* Mantiene el borde redondeado si existe */
}

.dia-actual-encabezado {
  background-color: rgb(52, 69, 179);

  color: rgb(255, 255, 255) !important;
}

.month {
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FERIADO */

.feriado-semanal-encabezado {
  background-color: rgb(161, 66, 66);
  color: rgb(255, 255, 255) !important;
  opacity: 0.8;
  /* Mantiene el borde redondeado si existe */
}

.feriado-semanal {
  background: repeating-linear-gradient(60deg,
      #fff,
      #fff 7px,
      #f1f1f17a,
      #f1f1f187 20px);
}

.dia-sobrante {
  color: #8d8d8d;
  opacity: 0.6;
  pointer-events: none;
  /* Para que no sean clickeables */
}

.empty-cell {
  background-color: #f8fafc;
  /* Color de fondo */
  min-height: 48px;
  /* Ajusta la altura para mantener uniformidad */
  pointer-events: none;
  /* Evita interacción con la celda */
}

/* Estilo para el tooltip */
.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Ajustar el encabezado para alinear los elementos */
.colaborador-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

thead {
  overflow: hidden;
}

.midHours {
  background-color: #f9f7cb;
  border: 2px solid #d9d5ab;
}

/* Estilo para el borde rojo en turnos de feriados */
.border-red-500 {
  border-color: #ef4444;
}

.table-wrapper {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* No establecemos max-height para que la tabla crezca según los colaboradores */
}
