<div class="p-6 rounded-lg w-[92%] mx-auto">
  <!-- Encabezado -->
  <div class="flex flex-wrap items-center justify-between mb-6">
    <h2 class="text-xl font-bold text-gray-800 sm:mr-6 border-b-2 border-blue-400 pb-1">
      Turnos de la Semana
    </h2>
    <div class="buttonWeek flex gap-2">
      <button class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition"
        (click)="cambiarSemana('anterior')">
        <i class="fa-solid fa-caret-left"></i>
      </button>
      <button class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition"
        (click)="cambiarSemana('siguiente')">
        <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
  </div>

  <!-- Tabla de turnos -->
  <table class="w-full bg-white shadow rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-blue-50 text-gray-800">
        <!-- Colaborador -->
        <th class="text-center p-4 colaborador-column w-[21%]">Colaborador</th>
        <!-- Días de la semana -->
        <th class="text-center p-4 capitalize font-normal semana-column w-[10.57%]"
          *ngFor="let dia of diasSemana$ | async">
          <span class="text-lg font-bold">{{ dia.dayNumber }}</span><span class="dayNumber"> {{ dia.nombre }}</span>
        </th>
        <!-- Total -->
        <th class="p-3 w-[6%] text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="(colaboradores$ | async) as colaboradores; else loadingColaboradores">
        <tr *ngFor="let colaborador of colaboradores" class="">
          <!-- Columna de Colaborador -->
          <td class="py-4 px-4 flex justify-start items-center w-full gap-3">
            <div
              class="photo flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 overflow-hidden  -gray-300">
              <img src="assets/user-circle-svgrepo-com.svg" alt="UserIMG" class="w-full h-full object-cover" />
            </div>
            <div class="colaborador">
              <div class="colaborador-nombre text-sm font-bold">
                {{ colaborador.nombre }}
              </div>
              <div class="colaborador-empresa inline-block text-gray-700 font-bold">
                {{ colaborador.empresa?.nombre }}
              </div>
            </div>
          </td>

          <!-- Celdas para cada día de la semana -->
          <td *ngFor="let dia of diasSemana$ | async" class=" text-center semana-column">
            <ng-container *ngIf="obtenerTurno(turnos$ | async, colaborador.id, dia.fecha) as turno; else agregarBoton">
              <div class="container-green cursor-pointer transition"
                (click)="abrirModalEdicion(turno)" title="Editar Turno">
                {{ formatearHora(turno.horaEntrada) }} - {{ formatearHora(turno.horaSalida) }}
              </div>

            </ng-container>
            <ng-template #agregarBoton>
              <button class="plus_button hover:text-blue-800 transition"
                (click)="abrirModal(colaborador.id, dia.fecha)" title="Agregar Turno">
                <i class="fa-regular fa-square-plus"></i>
              </button>
            </ng-template>
          </td>

          <!-- Columna de Total Horas -->
          <td class="p-2 text-center font-bold semana-column">
            {{ sumarHoras(turnos$ | async, colaborador.id) }}
          </td>
        </tr>
      </ng-container>
      <ng-template #loadingColaboradores>
        <tr>
          <td colspan="8" class="text-center p-4">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!-- Modal Overlay -->
<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50" *ngIf="mostrarModal">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Gestionar Turno</h3>

    <form (ngSubmit)="guardarTurno()">
      <!-- Hora de Entrada -->
      <div class="mb-4">
        <label for="horaEntrada" class="block text-gray-700 font-medium mb-2">Hora de Entrada</label>
        <input type="time" id="horaEntrada" [(ngModel)]="turnoActual.horaEntrada" name="horaEntrada"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-400"
          required />
      </div>

      <!-- Hora de Salida -->
      <div class="mb-4">
        <label for="horaSalida" class="block text-gray-700 font-medium mb-2">Hora de Salida</label>
        <input type="time" id="horaSalida" [(ngModel)]="turnoActual.horaSalida" name="horaSalida"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-400"
          required />
      </div>

      <!-- Actions -->
      <div class="flex justify-end space-x-4">
        <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 transition"
          (click)="cerrarModal()">
          Cancelar
        </button>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
