<div class="p-6 rounded-lg w-[92%] mx-auto">
  <!-- Encabezado -->
  <div class="flex flex-wrap items-center justify-between mb-6">
    <h2 class="text-xl font-bold text-gray-800 sm:mr-6 border-b-2 border-blue-400 pb-1">
      Turnos de la Semana
    </h2>
    <div class="buttonWeek flex gap-2">
      <button class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition"
        (click)="cambiarSemana('anterior')">
        <i class="fa-solid fa-caret-left"></i>
      </button>
      <button class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition"
        (click)="cambiarSemana('siguiente')">
        <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
  </div>

  <!-- Tabla de turnos -->
  <table class="w-full bg-white shadow rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-blue-50 text-gray-800">
        <!-- Colaborador -->
        <th class="text-center p-4 colaborador-column w-[21%]">Colaborador</th>
        <!-- Días de la semana -->
        <th class="text-center p-4 capitalize font-normal semana-column w-[10.57%]"
          *ngFor="let dia of diasSemana$ | async">
          <span class="text-lg font-bold">{{ dia.dayNumber }}</span><span class="dayNumber"> {{ dia.nombre }}</span>
        </th>
        <!-- Total -->
        <th class="p-3 w-[6%] text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="(colaboradores$ | async) as colaboradores; else loadingColaboradores">
        <tr *ngFor="let colaborador of colaboradores" class="">
          <!-- Columna de Colaborador -->
          <td class="py-4 px-4 flex justify-start items-center w-full gap-3">
            <div
              class="photo flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 overflow-hidden  -gray-300">
              <img src="assets/user-circle-svgrepo-com.svg" alt="UserIMG" class="w-full h-full object-cover" />
            </div>
            <div class="colaborador">
              <div class="colaborador-nombre text-sm font-bold">
                {{ colaborador.nombre }}
              </div>
              <div class="colaborador-empresa inline-block text-gray-700 font-bold">
                {{ colaborador.empresa?.nombre }}
              </div>
            </div>
          </td>

          <!-- Celdas para cada día de la semana -->
          <td *ngFor="let dia of diasSemana$ | async" class=" text-center semana-column">
            <ng-container *ngIf="obtenerTurno(turnos$ | async, colaborador.id, dia.fecha) as turno; else agregarBoton">
              <div class="container-green cursor-pointer transition" (click)="abrirModalEdicion(turno)"
                title="Editar Turno">
                {{ formatearHora(turno.horaEntrada) }} - {{ formatearHora(turno.horaSalida) }}
              </div>

            </ng-container>
            <ng-template #agregarBoton>
              <button class="plus_button hover:text-blue-800 transition" (click)="abrirModal(colaborador.id, dia.fecha)"
                title="Agregar Turno">
                <i class="fa-regular fa-square-plus"></i>
              </button>
            </ng-template>
          </td>

          <!-- Columna de Total Horas -->
          <td class="p-2 text-center font-bold semana-column">
            {{ sumarHoras(turnos$ | async, colaborador.id) }}
          </td>
        </tr>
      </ng-container>
      <ng-template #loadingColaboradores>
        <tr>
          <td colspan="8" class="text-center p-4">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div *ngIf="mostrarModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  (click)="cerrarModal()">
  <div class="bg-white p-6 rounded-lg shadow-xl transform transition-all duration-300 w-1/4 max-w-lg relative"
    [ngClass]="{ 'opacity-0 -translate-y-10': !isModalVisible, 'opacity-100 translate-y-0': isModalVisible }"
    (click)="$event.stopPropagation()">
    <!-- Botón de cierre -->
    <button (click)="cerrarModal()" class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 transition"
      aria-label="Cerrar">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Encabezado -->
    <div class="text-center pb-4 border-b border-gray-200">
      <h3 class="text-xl font-semibold text-gray-800 mb-2">
        {{ turnoActual.id ? 'Editar Turno' : 'Agregar Turno' }}
      </h3>
      <p class="text-gray-500 text-sm">
        {{ turnoActual.id ? 'Modifica los datos del turno seleccionado.' : 'Introduce los datos para registrar un nuevo turno.' }}
      </p>
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="guardarTurno()" class="mt-6">
      <!-- Sección: Hora de Entrada -->
      <div class="py-4 bg-gray-50 px-4 rounded-lg mb-4">
        <label for="horaEntrada" class="block text-sm font-medium text-gray-700 mb-1">Hora de Entrada</label>
        <input id="horaEntrada" type="time" [(ngModel)]="turnoActual.horaEntrada" name="horaEntrada"
          class="p-3 border rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400" required
          (change)="validarHorarioEntrada()" />
        <div *ngIf="errorHoraEntrada" class="text-red-500 text-sm mt-1">
          {{ errorHoraEntrada }}
        </div>
      </div>

      <!-- Línea divisora -->
      <hr class="border-gray-200 my-4">

      <!-- Sección: Hora de Salida -->
      <div class="py-4 bg-gray-50 px-4 rounded-lg mb-4">
        <label for="horaSalida" class="block text-sm font-medium text-gray-700 mb-1">Hora de Salida</label>
        <input id="horaSalida" type="time" [(ngModel)]="turnoActual.horaSalida" name="horaSalida"
          class="p-3 border rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400" required
          (change)="validarHorarioSalida()" />
        <div *ngIf="errorHoraSalida" class="text-red-500 text-sm mt-1">
          {{ errorHoraSalida }}
        </div>
      </div>

      <!-- Botones -->
      <div class="flex justify-between space-x-4 mt-4 px-2">
          <button type="submit"
            class="font-medium bg-gradient-to-r from-blue-500 to-blue-700 text-white py-3 px-4 rounded-lg hover:from-blue-600 hover:to-blue-800 transition text-xs"
            [disabled]="!seRealizaronCambios() || errorHoraEntrada || errorHoraSalida">
            {{ turnoActual.id ? 'Actualizar' : 'Agregar' }}
          </button>
        <!-- Botón Eliminar -->
        <div *ngIf="turnoActual.id" class="text-right flex items-center">
          <button type="button" (click)="eliminarTurno()" class="text-red-600 hover:text-red-800 transition"
            title="Eliminar Turno">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
