@tailwind base;
@tailwind components;
@tailwind utilities;

/* En tu archivo CSS */
input[type="checkbox"] {
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: #3b82f6; /* Color azul para estado activo */
}
