<div class="p-6 bg-white rounded-lg shadow-md max-w-md mx-auto">
  <h2 class="text-xl font-semibold mb-6 text-gray-900">
    {{ isEditing ? 'Editar Turno' : 'Agregar Turno' }}
  </h2>

  <form [formGroup]="turnoForm" (ngSubmit)="guardarTurno()">
    <!-- Hora de Entrada -->
    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-600">Hora de Entrada</label>
      <input type="time" formControlName="horaEntrada"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-400 focus:outline-none" />
      <small *ngIf="turnoForm.get('horaEntrada')?.invalid && turnoForm.get('horaEntrada')?.touched"
        class="text-red-500 text-xs">
        Por favor, ingrese una hora de entrada válida.
      </small>
    </div>

    <!-- Hora de Salida -->
    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-600">Hora de Salida</label>
      <input type="time" formControlName="horaSalida"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-gray-400 focus:outline-none" />
      <small *ngIf="turnoForm.get('horaSalida')?.invalid && turnoForm.get('horaSalida')?.touched"
        class="text-red-500 text-xs">
        Por favor, ingrese una hora de salida válida.
      </small>
    </div>

    <!-- Botones -->
    <div class="flex justify-between items-center space-x-4 mt-6">
      <!-- Botón Guardar -->
      <button type="submit" [disabled]="turnoForm.invalid || guardando"
        class="w-full py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 disabled:opacity-50 transition duration-150">
        <span *ngIf="!guardando">{{ isEditing ? 'Guardar' : 'Agregar Turno' }}</span>
        <span *ngIf="guardando"><i class="fa fa-spinner fa-spin"></i> Guardando...</span>
      </button>

      <!-- Botón Eliminar -->
      <button *ngIf="isEditing" type="button" (click)="confirmarEliminar()"
        class="w-full py-2 text-sm font-medium text-white bg-red-600 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 transition duration-150">
        <i class="fa fa-trash"></i>
      </button>

      <!-- Botón Cancelar -->
      <button type="button" (click)="cancelar()"
        class="w-full py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 transition duration-150">
        Cancelar
      </button>
    </div>
  </form>
</div>
