:root {
  --highlight-color: rgb(69, 133, 211);
}

.hover-photo {
  transition: transform 0.2s ease-in-out;
  transform: scale(100%);
  position: relative;
}

.hover-photo:hover {
  transform: scale(110%);
}

/* Elemento para la alerta */
.hover-photo::after {
  content: 'Ver perfil';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  width: 100%;
}

.hover-photo:hover::after {
  opacity: 1;
}
